@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.Title {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, #141414 -62%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16vw;
    text-transform: uppercase;
    letter-spacing: 3vw;
}
.Burger {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}
.BurgerCustomize {
    width: 30%;
    height: 7%;
    letter-spacing: 5px;
    word-spacing: 5px;
    bottom: 0;
    right: 0;
    position: absolute;
    right: 0;
    background: #141414;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.widthBurgerCustomize {
    width: 20%;
    position: absolute;
    height: 60%;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.4);
}
.D-div {
    /* writing-mode: vertical-rl; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    font-size: 0.8rem;
}
.BurgerCZ {
    width: 100%;
    height: 100%;
    position: relative;
}
.BurgerCZ > button {
    position: absolute;
    top: 0;
    left: -18px;
    background: black;
    border: none;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    border-radius: 3px;
    color: white;
}
.BurgerCZ ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.BurgerCZ ul li {
    width: 100%;
    height: 19%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* margin-left: 10%; */
    border-bottom: 1px solid black;
    float: left;
}
.BurgerCZ ul li h3 {
    font-family: 'Lato', sans-serif;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.BurgerCZ ul li img {
    width: 100%;
}
.btn {
    border-radius: 5px;
    border: none;
    background: yellow;
    color: black;
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0.5vw 1vw;
    margin-top: 1.5vh;
    font-family: 'Open Sans', sans-serif;
}
.ml-2 {
    margin-left: 5px;
}
.bg {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.chicken {
    background-image: url('../Assets/Images/chicken.png');
}
.tomato {
    background-image: url('../Assets/Images/Tomato.png');
}
.cheese {
    background-image: url('../Assets/Images/Cheese.png');
}
.butter {
    background-image: url('../Assets/Images/Butter.png');
}
.lettuce {
    background-image: url('../Assets/Images/Lettuce.png');
}


/* Header */
.Header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    text-align: left;
    z-index: 9;
}
.Header > img {
    height: 100%;
    margin-left: 10px;
    transform: rotate(-5deg);
    margin-top: 10px;
}
.Header > button {
    float: right;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    padding: 5px 15px;
    background: white;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    float: right;
    margin-top: 15px;
}
.h-100 {
    height: 100%;
}

.checkout {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
}
.checkout header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout header .close {
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.checkout header .close:hover {
    box-shadow: 1px 1px 9px 2px rgba(255,255,255,0.3);
}
.checkout div {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkout div h2 {
    color: white;
}
.checkout div textarea {
    width: 60%;
    height: 40%;
    background-color: #141414;
    color: white;
}
.submit {
    margin-top: 15px;
    padding: 5px 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
}
.submit:hover {
    box-shadow: 1px 1px 9px 2px rgba(255,255,255,0.3);
}
@media screen and (max-width: 425px) {
    .widthBurgerCustomize {
        width: 50%;
        height: 50%;
        bottom: 0;
    }
    .BurgerCustomize{
        width: 80%;
        height: 7%;
        bottom: 0;
    }
}
/* @media screen and (max-width: 768px) {
    .widthBurgerCustomize {
        width: 30%;
        height: 50%;
        bottom: 0;
    }
    .BurgerCustomize {
        width: 50%;
    }
} */
